/* CSS Design for Album App */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  text-align: center;
  background-color: #0a7482;
  color: #fff;
  padding: 15px;
}

.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navList {
  display: flex;
  list-style-type: none;
}

#navList li a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
}


/* AlbumContainer */
.AlbumContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.AlbumContainer h2 {
  text-align: center;
  margin-top: 20px;
}

/* Album */
.album {
  width: 200px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}

.album .albumdetails {
  margin-bottom: 10px;
}

.album h4 {
  margin: 5px 0;
}

/* Common buttons */
button {
  padding: 8px 15px;
  background-color: #0a7482;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #06626e;
}

.album a {
  text-decoration: none;
}

/* Add and Edit album */
.addAlbum,
.edit-album {
  max-width: 400px;
  margin: 20px auto;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.addAlbum h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input {
  padding: 10px;
  margin-bottom: 15px;
}

.btn-container,
.edit-album form {
  text-align: center;
  display: flex;
  flex-direction: column;
}